.clicker {
    display: block;
    flex-direction: column;
    background-color: #95dada;
    /*border: 1px solid grey;*/
    /*padding: 25px;*/
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    alignment: center;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    border-radius: 50%;
    margin: 20px auto;
    width: 30%;
}


/*@media (prefers-reduced-motion: no-preference) {*/
/*    .clicker {*/
/*        animation: robot-spin infinite 20s linear;*/
/*    }*/
/*}*/

/*@keyframes robot-spin {*/
/*    from {*/
/*        transform: rotate(0deg);*/
/*    }*/
/*    to {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/

.clicker:hover {
    transform: scale(1.05) perspective(1px);
}

.clicker:active {
    transform: scale(0.95) perspective(1px);
}