.Login {
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  display: table;
  margin: auto;
}

button {
  background-color: #5c83af;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
}

input {
  width: 100%;
  font-weight: bold;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

select {
  width: 100%;
  font-weight: bold;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

option {
  height: 20px;
  font-weight: bold;
}